language: c
sudo: false
before_install:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
  - sleep 3
  - export DISPLAY=:1.0
  - wget http://downloads.arduino.cc/arduino-1.6.9-linux64.tar.xz
  - tar xf arduino-1.6.9-linux64.tar.xz
  - sudo mv arduino-1.6.9 /usr/local/share/arduino
  - sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino
install:
  - ln -s $PWD /usr/local/share/arduino/libraries/CAN_Library
  - arduino --install-boards "arduino:sam"
script:
  - arduino --verify --board arduino:avr:uno $PWD/examples/ExtendedPingPong/ExtendedPingPong.ino
  - arduino --verify --board arduino:avr:uno $PWD/examples/ReceiveAnyMessages/ReceiveAnyMessages.ino
  - arduino --verify --board arduino:avr:uno $PWD/examples/ReceiveCANMessages/ReceiveCANMessages.ino
  - arduino --verify --board arduino:avr:uno $PWD/examples/SendAnyMessages/SendAnyMessages.ino
  - arduino --verify --board arduino:avr:uno $PWD/examples/SendCANMessages/SendCANMessages.ino
  - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/ExtendedPingPong/ExtendedPingPong.ino
  - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/ReceiveAnyMessages/ReceiveAnyMessages.ino
  - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/ReceiveCANMessages/ReceiveCANMessages.ino
  - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/SendAnyMessages/SendAnyMessages.ino
  - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/SendCANMessages/SendCANMessages.ino
notifications:
  email:
    on_success: change
    on_failure: change
